body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0B0B0F;
  color: #EDEDED;
}

button {
  background-color: #7B2CBF;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #9D4EDD;
}